:root {
  --primary: #b9895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 2px solid #63472d;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 .5rem;
  font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  padding-bottom: 0.3rem;
  display: block;
  height: 0;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  display: inline-block;
  margin: 0 0.5rem;
  transition: .3s linear;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.navbar .search-form {
  display: flex;
  align-items: center;
  position: absolute;
  width: 50rem;
  height: 4rem;
  background-color: white;
  top: 100%;
  right: 7%;
  padding: 0 1.5rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  color: var(--bg);
  font-size: 1.5rem;
}

.navbar .search-form label {
  margin-right: 1rem;
  color: var(--bg);
  cursor: pointer;
  font-size: 2rem;
}

/* shopping cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  position: absolute;
  display: inline-block;
  padding: 1px 5px;
  border-radius: 8px;
  background-color: red;
  font-size: .9rem;
  font-weight: 600;
  top: 0;
  right: -10px;
  letter-spacing: .5px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: white;
  color: var(--bg);
  transition: 0.4s linear;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #333;
  position: relative;
}

.shopping-cart .cart-item img {
  height: 4rem;
  border-radius: 10%;
}

.shopping-cart .cart-item .item-detail h3 {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .cart-item .item-detail .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item .item-detail .item-price .add,
.shopping-cart .cart-item .item-detail .item-price .remove {
  padding: 2px 5px;
  margin: 0 8px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  text-align: center;
}

/* checkout form */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

/* hero section */
.hero {
  background-image: url('../images/header-bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .mask-container {
  position: absolute;
  inset: 0;
  mask-image: url('../images/header-bg.svg');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* .hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  bottom: 0;
} */

.hero .content {
  padding: 1.4rem 7%;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 130px;
}

.hero .content h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, .8);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, .8);
  mix-blend-mode: difference;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content .cta {
  display: inline-block;
  color: #fff;
  background-color: var(--primary);
  padding: .5rem 2rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, .8);
}

/* about section */
.about,
.menu,
.products,
.contact {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary)
}

.about .row {
  display: flex;
  column-gap: 1rem;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  mask-image: url('../images/splash.svg');
  mask-size: 100%;
  mask-position: center;
}

.about .row .content {
  flex: 1 1 35rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1rem;
}

/* menu section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.products p,
.contact p {
  font-weight: 100;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  gap: 2rem;
}

.menu .row .menu-card {
  text-align: center;
  background-color: rgba(185, 137, 91, 0.2);
  padding: 10px;
  border-radius: 2rem;
  box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.2);
}

.menu .row .menu-card img {
  width: 80%;
  border-radius: 50%;
}

.menu .row .menu-card h3 {
  margin: 1rem auto .5rem;
  letter-spacing: 1px;
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 3rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  text-align: center;
  padding: 3rem 2rem;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
}

.contact .row form .input-group input {
  width: 100%;
  font-size: 1.5rem;
  background: none;
  padding: 2rem;
  color: white;
}

.contact .row form button {
  margin-top: 3rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: white;
  background-color: #815021;
  font-weight: 600;
}

.contact .row form button:hover {
  cursor: pointer;
  background-color: var(--primary);
}

/* products section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .row .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .row .product-icon {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.products .row .product-icon a {
  width: 4rem;
  height: 4rem;
  color: white;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .row .product-icon a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .row .product-image {
  padding: 1rem 0;
}

.products .row .product-image {
  height: 25rem;
}

.product-content h3 {
  font-size: 2rem;
}

.product-content .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.product-content .product-stars .star-full {
  fill: var(--primary);
}

.product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  margin-left: 1rem;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 0 1.5rem;
}

footer div a {
  color: #fff;
}

footer div a:hover {
  color: var(--bg);
}

footer .socials a {
  padding: 0 1rem;
}

footer .links a {
  padding: 0 .5rem;
}

footer .links {
  margin: 1.5rem 0;
}

footer .credit p a {
  color: var(--bg)
}

footer .credit p a:hover {
  text-decoration: underline;
}

/* MODAL BOX */

/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 10% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal .5s;
}

/* modal animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 25rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: white;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 89%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 79.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: white;
    top: 100%;
    right: -100%;
    width: 60%;
    height: 100vh;
    transition: .5s ease-in-out;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.2rem;
    font-size: 1.7rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(.2);
  }

  .about .row {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }

  /* .hero .content {
    max-width: 80%;
  } */
}